* {
  box-sizing: border-box;
}

a, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
  // If Proxima Nova is not installed locally, It's going to use Helvetica.
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
  background-color: #EEE;
  color: #000;
}
